<!DOCTYPE html>
<html lang="en" ng-app="controlApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Pragma" content="no-cache">
  <title>Twilio Demo</title>

  <!-- Normalize.css -->
  <link rel="stylesheet" href="./css/normalize.css">

  <!-- Loading Bootstrap -->
  <link href="./FlatUI/css/vendor/bootstrap.min.css" rel="stylesheet">
  <!-- Loading Flat UI -->
  <link href="./FlatUI/css/flat-ui.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="img/favicon.ico">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.js"></script>
    <script src="js/vendor/respond.min.js"></script>
  <![endif]-->


  <!-- Customized CSS -->
  <link rel="stylesheet" href="./css/control.css">
  <link rel="stylesheet" href="./css/loading.css">

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

  <!-- Polymer -->
  <!-- 1. Load platform support before any code that touches the DOM. -->
  <script src="./components/webcomponentsjs/webcomponents.js"></script>
  <!-- 2. Load the component using an HTML Import -->
  <link rel="import" href="./components/paper-button/paper-button.html">
  <link rel="import" href="./components/paper-dropdown-menu/paper-dropdown-menu.html">
  <link rel="import" href="./components/paper-dropdown/paper-dropdown.html">
  <link rel="import" href="./components/paper-item/paper-item.html">
  <link rel="import" href="./components/paper-input/paper-input.html">
  <link rel="import" href="./components/core-menu/core-menu.html">
  <link rel="import" href="./components/core-collapse/core-collapse.html">
  <link rel="import" href="./components/core-label/core-label.html">
</head>
<body>

  <div id="loader-wrapper">
    <div id="loader"></div>
    <div id="loaderText">Loading ...</div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  
  <div class="container cover" ng-controller="controller">

    <div class="row">
      <div class="col-sm-3 text-center">
        <p>Text From:</p>        
      </div>
      <div class="col-sm-9">

        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            {{request.data.From}} 
            <span class="caret"></span>
          </button>
          <ul id="dropdown-from" class="dropdown-menu" role="menu">
            <li ng-repeat="item in display.From" ng-click="display.setFrom(item)"><a>{{item}}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 text-center">
        <p>Text To:</p>        
      </div>
      <div class="col-sm-9">
        <input type="text" placeholder="+19191234567" class="form-control flat" ng-model="request.data.To"></input>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 text-center">
        <p>Message:</p>        
      </div>
      <div class="col-sm-9">
        <input type="text" placeholder="Text Content" class="form-control flat" ng-model="request.data.Body"></input>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 text-center">
        <p>Auth Key:</p>        
      </div>
      <div class="col-sm-9">
        <input type="text" placeholder="30-Character Key" class="form-control flat" ng-model="request.data.AuthKey"></input>
      </div>
    </div>

    <div class="row coverNav">
      <div class="col-sm-3 text-center">
        <paper-button raised ng-click="request.doClick(item, $event)">Send</paper-button>     
      </div>
      <div class="col-sm-9">
        <p>{{request.status}}</p> 
      </div>
    </div>
  </div>


  

  <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
  <script src="./FlatUI/js/vendor/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="./FlatUI/js/vendor/video.js"></script>
  <script src="./FlatUI/js/flat-ui.min.js"></script>

  <!-- Customized JS -->
  <script src="./js/javascript.js"></script>
</body>
</html>